@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button {
  font: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
button,
input[type="submit"] {
  cursor: pointer;
}
/* --------- */
body {
  font-family: "Work Sans", sans-serif;
  background: #131212;
  color: #fff;
}
li,
p {
  font-size: 15px;
}
header,
h2 {
  color: #d17218;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  align-items: center;
  max-width: 830px;
  padding-inline: 20px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: fixed;
  width: 100%;
  background: #1f1e1e;
  z-index: 9;
}
#header-img {
  max-width: 70px;
  height: auto;
}
#nav-bar {
  display: flex;
  gap: 30px;
}
#cta-section {
  padding-top: 110px;
  margin: 0 auto;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#email {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  max-width: 100%;
  border: 2px solid #d48031;
}

#submit,
button {
  max-width: 150px;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: none;
  background: #d48031;
  color: #fff;
}

#video {
  width: 100%;
  margin-bottom: 100px;
}
#pricing-plan-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #131212;
  gap: 10px;
}
.pricing-plan h3 {
  padding: 10px;
  background: #d171184b;
  color: #131212dc;
}
.pricing-plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 100%;
  width: 250px;
  height: 290px;
  background: #fff;
  padding-bottom: 15px;
}

button {
  margin: 0 auto;
  width: 100px;
}
#features-section > ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#features-section {
  margin-bottom: 100px;
}
#features-section h2 {
  display: inline;
}
#features-section span {
  margin-right: 10px;
  color: #d48031;
  background-color: #fff;
  border-radius: 50%;
  width: 20px;
  display: inline-block;
  text-align: center;
}
#features-section p {
  margin-left: 35px;
}
#footer-section {
  padding: 30px;
}
#footer-section,
#footer-section ul {
  display: flex;

  justify-content: space-between;
}
#footer-section ul {
  gap: 20px;
}
